* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.navbar {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	margin-top: 2em;
}

.navbar-list {
	list-style: none;
}

.navbar-list li {
	display: inline-block;
}

.navbar a {
	display: inline-block;
	padding: 1em 1em 1.5em;
	text-decoration: none;
	color: #69c;
	font-weight: 600;
}